<!doctype html>

<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Le titre de l'onglet -->
    <title>Main page</title>
    <meta name="description" content="La page principale du front-end d'un projet web.">
    <meta name="author" content="vavarm">

    <meta property="og:title" content="Main page">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.example.com">
    <meta property="og:description" content="La page principale du front-end d'un projet web.">
    <meta property="og:image" content="image.png">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" type="text/css" href="/css/reset.css?v=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css?v=1.0">
</head>

<body>
    <!-- your content here... -->

    <!-- importation du code js -->
    <script src="/js/scripts.js"></script>

    <header> This is my header </header>

    <%- include('partials/navbar.ejs'); %>

    <section> ....
        <article> ..... </article>
    </section>

    <aside> ..... </aside>
    <%- include('partials/footer.ejs'); %>